<!-- start custom footer snippets -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script>
    function getOrdinal(n) {
        let ord = 'th';
        if (n % 10 == 1 && n % 100 != 11){
            ord = 'st';
        }
        else if (n % 10 == 2 && n % 100 != 12){
            ord = 'nd';
        }
        else if (n % 10 == 3 && n % 100 != 13){
            ord = 'rd';
        }
        return ord;
        }
</script>
<!-- <script>
    // var config = {
    //     startOnLoad:true,
    //     theme: 'dark',
    //     flowchart:{
    //             useMaxWidth:false,
    //             htmlLabels:true
    //         }
    // };
    // mermaid.initialize(config);
    // window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    // 最简单直接的实现
</script> -->
<!-- end custom footer snippets -->